<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 id="copyright"><small>&copy; Copyright Centennial College COMP229 2022 - Ricardo Lopez - 301167302</small></h6>
    </div>
</nav>