/*
COMP229 Express Portfolio
Ricardo Lopez
Student ID: 301167302
June 2, 2022
*/

/*Main containers div*/
.container{
    margin-top: 56px;    
}

.container h1{
    text-align: center;
}

/*Images containers cards*/
.card-img-top{
    transition: all 0.5s linear;
    height: 284px;
}

.card-img-top:hover{
    transform: scale(1.3);
}

.img-container{
    overflow: hidden;    
}

#fluid2{
    height: 142px;
    width: 24rem;
}

/*Footer section*/

small{
    color: #fff;
}

footer{
    padding-top: 40px;
}

