.container{
    margin-top: 56px;    
}

.container h1{
    text-align: center;
}

.card-img-top{
    transition: all 0.5s linear;
    height: 284px;
}

.card-img-top:hover{
    transform: scale(1.3);
}

.img-container{
    overflow: hidden;    
}