<div class="container">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="./Assets/Images/profile.jpg" class="d-block mx-lg-auto img-fluid" alt="Ricardo Profile picture" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Ricardo Andres Lopez Tuiran</h1>
            <p class="lead">Software Engineer student at Centennial College with a background in Mechatronics and business administration.
                It is never too late to follow your passion which is why I am pursuing a new career as a software engineer. I am also a self-taught artist, I like to see things in different perspectives and 
                this skill allows me to find different solutions to all problems
                I am presented with. I am a strong believer that we never stop learning, as there is always something new to explore, specially in the dynamic
                word of technology. 
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-success btn-lg px-4 me-md-2" href="home" role="button">Home</a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="./Assets/Pdf/resume.pdf" role="button">Resume</a>
            </div>
          </div>
        </div>
      </div>
</div>