<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Ricardo Andres Lopez Tuiran</h1>
        <p class="lead">Software Engineering Technician</p>
        <p class="lead">“I’m not a great programmer; I’m just a good programmer with great habits.” – Kent Beck</p>
        <hr class="my-4">
        <p>Mission: To experiment without the fear of failure. Because it is experience, the name we give to our mistakes.</p>
        <a class="btn btn-success btn-lg" href="about" role="button">About me</a>
      </div>
</div>