<div class="container">
    <h1><%= title %></h1>
    <h1></h1>
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/jumpstart.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Jumpstart Website</h5>
                  <p class="card-text">Developer: Ricardo Lopez</p>
                  <p class="card-text">A basic website built from scratch with custom CSS animations and JavaScript scroll effects.</p>
                  <a href="https://rlopez91.github.io/jumpstart/" class="btn btn-success" target="blank">View Website</a>
                  <a href="https://github.com/Rlopez91/jumpstart" class="btn btn-secondary" target="blank">View Repository</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/matchgame.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Card Match Game</h5>
                  <p class="card-text">Developer: Ricardo Lopez</p>
                  <p class="card-text">A simple card match game Website using custom CSS and JavaScript.</p>
                  <a href="https://rlopez91.github.io/matchgame/" class="btn btn-success" target="blank">View Website</a>
                  <a href="https://github.com/Rlopez91/matchgame" class="btn btn-secondary" target="blank">View Repository</a>
                </div>
              </div>
        </div>
      </div>
      <h1></h1>
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/numeric_puzzle.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Numeric Puzzle Game</h5>
                  <p class="card-text">Developer: Ricardo Lopez</p>
                  <p class="card-text">A numeric puzzle game using Java, with button slide animation, timer and scoreboard.</p>
                  <a href="https://github.com/Rlopez91/numeric_puzzle" class="btn btn-success" target="blank">View Repository</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/spy_game.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Spy Game</h5>
                  <p class="card-text">Developer: Ricardo Lopez</p>
                  <p class="card-text">A "hide and seek" game on Java, with coordinates, hints, scoreboard and functional buttons</p>
                  <a href="https://github.com/Rlopez91/Spy_Game_Java" class="btn btn-success" target="blank">View Repository</a>
                </div>
              </div>
        </div>
      </div>
</div>
<h1></h1>