<div class="container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/jumpstart.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/matchgame.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
      <h1></h1>
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/numeric_puzzle.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 24rem;">
                <div class="img-container">
                    <img src="./Assets/Images/spy_game.jpg" class="card-img-top" alt="...">
                </div>                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
</div>